body {
  background-color: yellow;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  height: 100px;
  width: 100px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

div:hover {
  color: black;
  background-color: white;
}
